h1.a{
    color:blue;
}
h1.b{
    color:pink;
}
h1.C{
    color:black;
}
h2.C{
    color:yellow;
}
h1.o{
    color: rosybrown;
}
h2.o{
    color: salmon;
}
h1.p{
    color: seagreen;
}
span.s{
    color: teal;
}
span.s1{
    color: chocolate;
}
sub.w{
    color:lightyellow;
}
span.w{
    color: mediumorchid;
}
span.z{
    color:indigo;
}